.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-header-svg1 {
	font-size:(24.51/10)*1rem;
	width:(25.29/24.51)*1em;
}
.icon-header-svg2 {
	font-size:(323.5/10)*1rem;
	width:(475.7/323.5)*1em;
}
.icon-header-svg3 {
	font-size:(44.76/10)*1rem;
	width:(47.41/44.76)*1em;
}
.icon-mail {
	font-size:(392.86/10)*1rem;
	width:(500/392.86)*1em;
}
.icon-phone {
	font-size:(347.29/10)*1rem;
	width:(348.08/347.29)*1em;
}
