mixin s-main-block()
	// start s-main-block
	+b.SECTION.s-main-block.section.lazy-background#s-main-block&attributes(attributes)
		.container
			+b.section-title.text-center
				h2.mono Информация о компании
			.row
				.col-12.col-lg-auto
					+pic("main-pic","jpg")
				.col
					+e.text Компания &laquo;Агробизнес&raquo; является динамично развивающейся компанией в&nbsp;области оптовых продаж продуктов питания. Основное направление компании: куриная, мясная и&nbsp;рыбная продукция. Товар закупается у&nbsp;прямых производителей, либо их&nbsp;официальных представителей в&nbsp;регионах: Птицефабрика Байсад, Производитель полуфабрикатов Курников, Птицефабрика Приосколье, Птицефабрика Ресурс-Юг, Птицефабрика Баксанский Бройлер, Птицефабрика Ясные Зори, Птицефабрика Куракинский Бройлер, Птицефабрика Михайловская, Птицефабрика Юбилейная, Птицефабрика Акашево и&nbsp;др.
					+e.text Клиентами нашей компанией являются: сетевые розничные продуктовые магазины, крупные оптовые покупатели Самарской области и&nbsp;соседних регионов, заводы и&nbsp;крупные переработчики мясных продуктов: Самарский мясокомбинат Гарибальди, производитель мясных полуфабрикатов Золушка сеть продуктовых магазинов Привоз и&nbsp;др. Склад хранимой купленной продукции находится на&nbsp;территории Хладокомбината &#8470;&nbsp;1, по&nbsp;адресу&nbsp;г. Самара проезд Мальцева, 22. Объем продукции в&nbsp;месяц составляет более 800&nbsp;тонн.
					+e.text.font-weight-bold Наша компания предоставляет индивидуальный подход к каждому клиенту.
	// end s-main-block