mixin phone-line()
	// start phone-line
	+b.SECTION.phone-line.d-block.d-md-none.section.lazy-background#phone-line&attributes(attributes)
		a(href="tel:+78462074489")
			.container
				+e.wrapper
					+icon("phone")
					+e.phone Позоните нам
	// end phone-line