.header-block {
	display: block;
	padding: rem(30) 0 rem(53);
	background-color: #272727;
	&__top-line{
		padding: rem(15);
		background-color: #fff;
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(48);
			padding: rem(15) rem(15) rem(15) rem(30);
		}
		.icon{
			color: #8e8e8e;
			font-size: rem(14);
			margin-right: rem(6);
		}
	}
	&__col{
		display: flex;
		align-items: center;
	}
	&__logo{
		@include rfs(rem(26));
		@include media-breakpoint-down(sm) {
			margin: 0 auto;
		}
		// font-size: rem(26);
		font-weight: bold;
		color: #f43232;
	}
	&__phone{
		@include media-breakpoint-up(lg) {
			margin-left: auto;
		}
		color: $body-color;
		&:hover{
			text-decoration: none;
			color: $body-color;
		}
	}
	&__mail{
		color: $body-color;
		&:hover{
			text-decoration: none;
			color: $body-color;
		}
	}
	&__btn{
		@extend .btn;
	}
	h1{
		color: #fff;
		text-align: center;
		margin-bottom: rem(37);
	}
	&__catalog-wrapper{
		max-width: rem(850);
		margin: 0 auto;
		.icon{
			color: #fff;
			&-header-svg1{
				font-size: rem(30);
			}
			&-header-svg2{
				font-size: rem(24);
			}
			&-header-svg3{
				font-size: rem(30);
			}
		}
	}
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 700;
		text-align: center;
		margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}
	&__icon-wrapper{
		width: rem(70);
		height: rem(70);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(10);
		// margin-bottom: auto; 
	}
	&__item-title{
		margin-bottom: auto;
	}
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}