.s-contact {
	background-color: #f6f6f6;
	padding: rem(55) 0 rem(60);
	h2{
		margin-bottom: rem(17);
	}
	h3{
		margin-bottom: rem(19);
		font-weight: 700;
	}
	a{
		display: block;
	}
	.icon{
		color: #8e8e8e;
		font-size: rem(14);
		margin-right: rem(6);
	}
	&__phone{
		font-weight: bold;
		color: $body-color;
		margin-bottom: rem(5);
		&:hover{
			text-decoration: none;
			color: $body-color;
		}
	}
	&__mail{
		font-weight: bold;
		color: $body-color;
		margin-bottom: rem(20);
		&:hover{
			text-decoration: none;
			color: $body-color;
		}
	}
	&__requisites{
		font-size: rem(14);
		line-height: rem(25);
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(20);
		}
	}
	.form-wrap{
		input[type="text"]{
			border-radius: 3px;
			height: rem(50);
		}
		textarea{
			border-radius: 3px;
			height: rem(100);
		}
		a{
			display: inline;
		}
		.custom-input{
			@include media-breakpoint-up(lg) {
				max-width: rem(370);
				// margin-bottom: 0;
			}
			line-height: 1;
			margin: 0;
			&__text{
				font-size: rem(11);
				a{
					text-decoration: underline;
				}
			}
			&__lab{
				@include a-cent(y);
			}
		}
		&__check-col{
			display: flex;
			align-items: center;
		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;
			padding: rem(12) rem(40);
			margin: 0 auto;
			@include media-breakpoint-down(md) {
				margin-top: rem(10);
			}
		}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}